@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');


:root {
  --common-white-color: white;
  --common-red-color: rgb(190, 49, 68);
  --common-black-color: rgb(49, 51, 54);
  --common-blue-color: rgb(69, 86, 125);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--common-white-color);
  overflow-x: hidden;
}


.nav-container {
  height: 65.68px;
  background-color: var(--common-red-color);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--common-red-color);
  width: 100%;
  height: 65.68px;
  position: fixed;
  top: 0;
}

#navbar ul {
  display: flex;
  margin-right: 20px;
}

#navbar ul li {
  list-style-type: none;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--common-white-color);
  font-family: 'Poppins', sans-serif;
  font-size: 20.50px;
  padding: 19px;
}

#navbar ul li a:hover {
  background-color: var(--common-blue-color);
}

#welcome-section {
  height: 481px;
  background: linear-gradient(90deg,
      rgb(74, 74, 75) 0%,
      rgb(39, 40, 42) 50%,
      rgb(55, 57, 60));
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-section h1 {
  color: var(--common-white-color);
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 150px;
}

#welcome-section i {
  color: var(--common-red-color);
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 200;
}


#projects {
  background-color: var(--common-blue-color);
  padding: 93px 19px;
}

#projects h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 39px;
  font-weight: 700;
  text-align: center;
  max-width: 620px;
  margin: 0 auto 50px auto;
  padding-bottom: 4px;
  color: var(--common-white-color);
  border-bottom: 2px solid var(--common-white-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding-right: 20px;
}


.project-tile {
  text-decoration: none;
}

.project-image {
  height: calc(100% - 5.5rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  color: var(--common-white-color);
  font-family: 'Poppins', sans-serif;
  font-size: 16.2px;
  text-align: center;
  background-color: var(--common-black-color);
  padding: 19px 5px;
  margin-top: -4px;
}

.symbol {
  visibility: hidden;
  color: orange;
  transition: visibility 0.2s ease-out;
}

.project:hover .symbol {
  visibility: visible;
}

button {
  padding: 10px 19px;
  background-color: var(--common-black-color);
  border: 1px solid var(--common-black-color);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 25px auto 0 auto;
  position: relative;
  right: 10px;
  transition: background-color 0.4s ease-out,
    border-color 0.4s ease-out;
}

button:hover {
  background-color: var(--common-red-color);
  border: 1px solid var(--common-red-color);
}

button a {
  text-decoration: none;
  font-size: 19.2px;
  font-family: 'Poppins', sans-serif;
  color: var(--common-white-color);
  text-align: center;
}

button a i {
  margin-left: 3px;
  transform: translateX(0);
  transition: transform 0.4s ease-out;
}

button:hover a i {
  transform: translateX(2px);
}