@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Raleway&display=swap');

:root {
  --common-white-color: white;
  --common-red-color: rgb(190, 49, 68);
  --common-black-color: rgb(48, 56, 65);
  --common-blue-color: rgb(69, 86, 125);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}


body {
  width: 100vw !important;
  min-height: 100vh;
  background-color: var(--common-white-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}


.nav-container {
  height: 65.68px;
  background-color: var(--common-red-color);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--common-red-color);
  width: 100vw;
  height: 65.68px;
  position: fixed;
  top: 0;
  z-index: 2;
}

@media screen and (max-width:620px) {
  #navbar {
    justify-content: center;
  }
}

#navbar ul {
  display: flex;
  margin-right: 20px;
}


@media screen and (max-width:620px) {
  #navbar ul {
    margin-right: 0;
  }
}

#navbar ul li {
  list-style-type: none;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--common-white-color);
  font-family: 'Poppins', sans-serif;
  font-size: 20.50px;
  padding: 19px;
}

#navbar ul li a:hover {
  background-color: var(--common-blue-color);
}

#welcome-section {
  height: 481px;
  width: 100vw;
  background: linear-gradient(90deg,
      rgb(74, 74, 75) 0%,
      rgb(39, 40, 42) 50%,
      rgb(55, 57, 60));
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-section h1 {
  color: var(--common-white-color);
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 150px;
  text-align: center;
}

#welcome-section i {
  color: var(--common-red-color);
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 200;
}

@media screen and (max-width: 800px) {
  #welcome-section h1 {
    font-size: 36px;
  }

  #welcome-section i {
    font-size: 24px;
  }
}

@media screen and (max-width: 620px) {
  #welcome-section h1 {
    font-size: 30px;
  }

  #welcome-section i {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  #welcome-section h1 {
    font-size: 28px;
  }
}


@media screen and (max-width: 450px) {
  #welcome-section h1 {
    font-size: 24px;
  }
}


@media screen and (max-width: 380px) {
  #welcome-section h1 {
    font-size: 20px;
  }
}


#projects {
  background-color: var(--common-blue-color);
  padding: 93px 19px;
}

#projects h2 {
  font-family: 'Raleway', sans-serif;

  font-size: clamp(1.6rem,
      calc(20px + 1.67vw),
      3.20rem);
  /* font-size: 2.43rem; */
  font-weight: 700;
  text-align: center;
  max-width: 620px;
  margin: 0 auto 50px auto;
  padding-bottom: 4px;
  color: var(--common-white-color);
  border-bottom: 2px solid var(--common-white-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

@media screen and (max-width: 499px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.project-tile {
  text-decoration: none;
}

.project-image {
  height: calc(100% - 5.5rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  color: var(--common-white-color);
  font-family: 'Poppins', sans-serif;
  font-size: 16.2px;
  text-align: center;
  background-color: var(--common-black-color);
  padding: 19px 5px;
  margin-top: -4px;
}

.symbol {
  visibility: hidden;
  color: orange;
  transition: visibility 0.2s ease-out;
}

.project:hover .symbol {
  visibility: visible;
}

button {
  padding: 10px 19px;
  background-color: var(--common-black-color);
  border: 1px solid var(--common-black-color);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 25px auto 0 auto;
  transition: background-color 0.4s ease-out,
    border-color 0.4s ease-out;
  z-index: 1;
}

button:hover {
  background-color: var(--common-red-color);
  border: 1px solid var(--common-red-color);
}

button a {
  text-decoration: none;
  font-size: 19.2px;
  font-family: 'Poppins', sans-serif;
  color: var(--common-white-color);
  text-align: center;
}

button a i {
  margin-left: 3px;
  transform: translateX(0);
  transition: transform 0.4s ease-out;
}

button:hover a i {
  transform: translateX(2px);
}

#contact {
  background-color: var(--common-black-color);
  color: var(--common-white-color);
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


#contact h2 {
  font-family: 'Raleway', sans-serif;
  font-size: calc(52px + (100vw - 800px) / 800);
  font-weight: 700;
}

#contact h2,
#contact p {
  text-align: center;
}

#contact p {
  font-family: 'Poppins', sans-serif;
  font-size: 17.28px;
  font-style: italic;
  font-weight: 200;
  margin-top: 5px;
}

.social-links {
  display: flex;
  gap: 30px;
  padding: 10px 19px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-links li {
  list-style-type: none;
  transform: translateY(0);
  transition: transform 0.4s ease-out;
}

.social-links li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: calc(23px + (100vw - 900px) / 300);
  color: var(--common-white-color);

}

.social-links li:hover {
  transform: translateY(6px);
}

footer {
  background-color: var(--common-black-color);
  height: 124.5px;
  border-top: 4px solid var(--common-red-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--common-white-color);
  text-align: center;
  padding: 0 20px;
}

#footer-link {
  text-decoration: none;
  color: var(--common-white-color);
}